<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset = UTF-8">
    </head>
    <body>
        <h1>HI WELCOME TO THE {{team}} TEAM</h1>
        <h6>
            Thank u joining the team.
        </h6>
        <p>
            you can login into your Account using OTP login <br>
            <br>
            You can use web Application and Mobile Application for Login
        </p>
        <a href="#"> Mobile Application Link</a>
        <a href="#"> Web Application Link</a>

    </body>
</html>